<body style="margin: 1rem;">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Lawry A2</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button class=" example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar id="menu-rows" style="display: none">
    <mat-toolbar-row>
      <span><a routerLink='/' routerLinkActive='active' (click)='closeMenu()'>Home<span
            class="sr-only">(current)</span></a></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span><a routerLink='/shower-queue' routerLinkActive='active' (click)='closeMenu()'>Shower Queue</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span><a routerLink='/chores' routerLinkActive='active' (click)='closeMenu()'>Chores</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span><a routerLink='/shopping-list' routerLinkActive='active' (click)='closeMenu()'>Shopping List</a></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>



</body>